nav {
	background-color: rgb(91, 36, 143) !important;
	padding: 0 50px;
	.navbar-menu {
		.navbar-end {
			display: flex;
			justify-content: center;
			align-items: center;
			button {
				cursor: pointer;
				height: 30px;
				font-weight: bold;
				background-color: transparent;
				border: none;
				font-size: 15px;
				color: #fff;
				&:hover {
					color: black;
				}
			}
		}
	}
	.navbar-brand {
		.link {
			color: #fff;
		}
		.active {
			color: blue;
		}
	}
}
