@import '../../sass/index.scss';

.contenedor_registrarse {
	width: 100%;
	height: 100vh;
	.contenedor_grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: calc(100vh - 50px);
		.contenedor_izquierda {
			background-image: url('../../utils/img/fondo.jpeg');
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 30vh;
				min-width: 200px;
				height: 30vh;
				min-height: 200px;
			}
		}
		.contenedor_derecha {
			background-color: black;
			padding: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h2 {
				margin: 0 0 50px 0;
				font-size: 50px;
				text-align: left;
				color: #ffffff;
			}
			.contenedor_form {
				height: min-content;
				width: 300px;
				form {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					width: 100%;
					p {
						margin-bottom: 5px;
						color: #ffffff;
					}
					input {
						@include designInput;
						margin-bottom: 15px;
					}
					.btn_registrarse {
						margin: 30px 0 10px 0;
						@include designButton;
					}
					span {
						font-size: 12px;
						color: grey;
					}
				}
				.txt_cuenta {
					font-weight: bold;
					text-align: start;
					margin: 50px 0 10px 0px;
					color: #ffffff;
				}
				.btn_iniciaSesion {
					@include designButton;
					float: left;
				}
			}
		}
	}
	footer {
		background-color: black;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		p {
			margin: 0;
			color: grey;
		}
	}
}

@media screen and (max-width: 900px) {
	.contenedor_registrarse {
		.contenedor_grid {
			.contenedor_derecha {
				.contenedor_form {
					h2 {
						font-size: 40px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.contenedor_registrarse {
		height: 100%;
		.contenedor_grid {
			grid-template-columns: 1fr;
			height: 100%;
			.contenedor_izquierda {
				grid-row-start: 2;
				grid-row-end: 3;
				grid-column-start: 1;
				grid-column-end: 2;
			}
		}
	}
}
