@import '../../sass/index.scss';

.contenedor_iniciaSesion {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(41, 44, 56);
	.contenedor_form {
		width: 400px;
		position: relative;
		height: min-content;
		padding: 50px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 20px;
		background-color: black;
		img {
			width: 7vh;
			height: 7vh;
		}
		h3 {
			font-size: 25px;
			color: $color_blanco;
		}
		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 20px 0;
			p {
				margin: 0 0 5px 0;
				color: $color_blanco;
			}
			input {
				margin-bottom: 20px;
				@include designInput;
			}
			button {
				margin-top: 20px;
				@include designButton;
			}
		}
		.txt_cuenta {
			font-weight: bold;
			text-align: start;
			margin: 30px 0 10px 0;
			color: $color_blanco;
		}
		.btn_registrarse {
			float: left;
			@include designButton;
		}
	}
}
